body {
  /*padding: 50px;  
   * font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   **/
}

.container {
	margin: 0 auto 1em;

}

.center {
	margin: 0 auto;
	width: 65em;
}

a {
  color: #00B7FF;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}


